:root {
	--black: 0, 0, 0;
	--gray: 211, 211, 211;
	--light: 138, 162, 158; /* Morning Blue */
	--primary: 25, 123, 189; /*Star Command Blue*/
	--secondary: 45, 45, 42; /*Jet*/

	/*Original Color was Navy Blue (23, 6, 116)*/
}
1d3557