html,
body {
	height: 100%;
	font-family: "Source Code Pro", monospace;
	color: rgb(var(--light));
	background-color: rgb(var(--primary));
}

h4 {
	padding-left: 30px;
}
.about-me {
	display: flex;
	flex-direction: column;
	padding: 50px;
	margin: 70px;
	width: 32vw;
	box-shadow: inset 0 0 0 2000px rgba(var(--black), 0.478);
}

.cont-div {
	height: 100%;
	margin: 0;
	padding: 0;
}

.main-nav {
	display: flex;
	justify-content: space-between;
	background-color: rgb(var(--primary));
	height: 10vh;
}

.main-nav h1 {
	flex: 1;
	display: flex;
	align-items: center;
	font-size: 32px;
	font-weight: 400;
	padding-left: 20px;
	margin-right: auto;
}

.main-nav ul {
	display: flex;
	height: inherit;
	padding-inline-start: 0;
}
.main-nav li {
	display: flex;
	width: 100px;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	list-style: none;
}

.main-nav li a {
	color: rgb(var(--light));
}

.main-nav li a:hover {
	color: rgb(var(--tertiary));
	font-size: 110%;
	text-decoration: none;
}

.nav-links {
	flex: 1;
	justify-content: center;
}

.social-buttons {
	flex: 1;
	margin-left: auto;
	justify-content: flex-end;
}

.main-div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-image: url("../images/riverLandscape.JPG");
	background-size: cover;
	box-shadow: inset 0 0 0 2000px rgba(var(--secondary), 0.3);
	clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}
.row {
	height: 100%;
}

.triangle {
	background-color: rgba(var(--primary), 0.95);
}

.featured-header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: inherit;
}

.image-wrapper {
	border-radius: 50%;
	box-shadow: 3px 3px 2px rgb(var(--black));
	border: 2px solid rgb(var(--light));
	width: 400px;
	height: 400px;
	overflow: hidden;
	position: relative;
}

#thumbnail {
	display: inline;
	margin: 0 auto;
	width: auto;
	height: 640px;
}

section {
	display: flex;
	justify-content: space-around;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-image: url("../images/lakeLandscape.JPG");
	background-size: cover;
	box-shadow: inset 0 0 0 2000px rgba(var(--secondary), 0.3);
	clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
}

.main-container {
	position: relative;
	overflow-x: hidden;
}

.main-container {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.main-container::-webkit-scrollbar {
	display: none;
}

.project-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 20vw;
	height: 20vw;
	text-align: center;
	background-color: rgba(var(--black), 0.478);
	padding: 1vw;
	border-radius: 3%;
	margin-top: 50%;
}

section a {
	text-decoration: none;
	color: rgb(var(--light));
}

section a:hover {
	color: rgb(var(--tertiary));
}

.project-card i {
	background-color: rgb(var(--primary));
	border-radius: 50%;
}
